
.fa, .far, .fas{
  font-family: "iconfont";
}

@font-face {
  font-family: "iconfont"; /* Project id 2650284 */
  src: url('//at.alicdn.com/t/font_2650284_ueswy1wit6.woff2?t=1625661812111') format('woff2'),
       url('//at.alicdn.com/t/font_2650284_ueswy1wit6.woff?t=1625661812111') format('woff'),
       url('//at.alicdn.com/t/font_2650284_ueswy1wit6.ttf?t=1625661812111') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-eye:before {
  content: "\e6ac";
}

.fenxiang:before {
  content: "\e739";
}

.xihuan:before {
  content: "\e761";
}

.fa-chart-line:before {
  content: "\e66a";
}

.electronics:before {
  content: "\e66e";
}

.calculator:before {
  content: "\e698";
}

.mark:before {
  content: "\e6ca";
}

.fa-music:before {
  content: "\e6cf";
}

.shop:before {
  content: "\e6d8";
}

.trash:before {
  content: "\e6dd";
}

.upload:before {
  content: "\e6df";
}

.collection:before {
  content: "\e6a5";
}

.fa-folder-open:before {
  content: "\e6cb";
}

.fa-tags:before {
  content: "\e6da";
}

.text:before {
  content: "\e6dc";
}

.fa-heart:before {
  content: "\e67f";
}

.more:before {
  content: "\e68a";
}

.card:before {
  content: "\e68e";
}

.fa-calendar-alt:before {
  content: "\e699";
}

.chat:before {
  content: "\e69d";
}

.edit:before {
  content: "\e6aa";
}

.fa-home:before {
  content: "\e6bc";
}

.fa-link:before {
  content: "\e6c3";
}

.fa-video:before {
  content: "\e6c4";
}

.fa-search:before {
  content: "\e6d4";
}

.information_add:before {
  content: "\e6d7";
}

.fa-stream:before {
  content: "\e6de";
}
.fa-list:before {
  content: "\e6de";
}

.fa-spin:before,
.fa-book-open:before,
.fa-adjust:before,
.fa-arrow-up:before,
.fa-list-ul:before,
.fa-arrows-alt-h:before
{
	font-family:"Font Awesome 5 Free";
}


.fa-chevron-down:before {
  content: "\e685";
}

.fa-chevron-down:after{
	conten:"\e686";
}

.piechart_1:before {
  content: "\e676";
}

.barchart:before {
  content: "\e694";
}

.bulletin:before {
  content: "\e696";
}

.fa-history:before {
  content: "\e6a6";
}

.gift:before {
  content: "\e6ba";
}

.good:before {
  content: "\e6bb";
}

.movie:before {
  content: "\e6cc";
}

.system-QRcode:before {
  content: "\e667";
}

.system-phonebook:before {
  content: "\e668";
}

.add:before {
  content: "\e66c";
}

.network:before {
  content: "\e67a";
}

.fa-bars:before {
  content: "\e69e";
}

.fillin:before {
  content: "\e6af";
}

.fa-archive:before {
  content: "\e6b0";
}

.fa-history:before {
  content: "\e6c7";
}

